# node / build
store-rating-app(Backend)/node_modules/
store-rating-app(frontend)/node_modules/
store-rating-app(frontend)/build/
store-rating-app(Backend)/dist/

# environment / secrets
store-rating-app(frontend)/.env
store-rating-app(Backend)/.env

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
Thumbs.db
